*.py[cod]

.DS_Store

# Build artifacts
/*.egg
/*.egg-info
/dist
/deps
/build
/eggs
/sdist
/develop-eggs
/.sass-cache

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.htmlcov

# Translations
*.mo

# Sphinx
/docs/_build

# Static files
/deployer/static/styles/*.css
/deployer/static/scripts/*.js

# Development data
/*.db
/data
deployer.service
