{% extends "base.html" %}

{% block content %}

<div class="button-header">
	<h1>Hosts</h1>
	<a class="btn btn-primary btn-lg overlay-form" href="{{ url_for('.new') }}">Add host</a>
</div>

<table class="hosts table table-hover">
	<thead>
		<tr>
			<th>Host</th>
			<th>URL</th>
		</tr>
	</thead>
	<tbody>
	{% for host in hosts %}
		<tr>
			<td><a href="{{ url_for('.host', host_id=host.id) }}">{{ host.name }}</a></td>
			<td>{{ host.url }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}


